<div class="content popup-content">
  <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
    <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="EditUnitForm" [formGroup]="EditUnitForm"
      (ngSubmit)="EditUnitSubmit()" novalidate>
      <div class="popup-header">
        <mat-toolbar matDialogTitle class="m-0">
          <mat-toolbar-row>
            <span class="title dialog-title">Edit Students</span>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
      <div fxFlex="100" fxLayoutAlign="center">
        <img alt="profile pic" src="{{userPicture}}" style="width: 130px;
        height: 130px; border-radius: 50%;" class="hy-profile-image">
      </div>
      <div fxFlex="100" fxLayoutAlign="center">
        <div class="form-group fileUpload">
          <button mat-stroked-button type="button" style="margin: 15px;" class="form-control upload-button">
            <label class="cursor_pointer">
              <input type="file" (change)="onFileSelected($event)" />
              <span>
                <mat-icon>publish</mat-icon>
              </span>
              <span style="position: relative;top: -4px;">Upload</span>
            </label>
          </button>
          <!-- <button mat-stroked-button style="margin: 15px;" class="form-control upload-button">
            <label class="cursor_pointer">
              <input type="file" (change)="onFileSelected($event)"/>
              <span>
                <mat-icon>publish</mat-icon>
              </span>
              <span style="position: relative;top: -4px;">Upload</span>
            </label>
          </button> -->
        </div>
      </div>

      <div [fxLayout]="direction" fxLayout.xs="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

        <mat-form-field appearance="outline" fxFlex="50" class="pr-4 edit-dials-ad">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
          <mat-error>Name is required!</mat-error>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" fxFlex="50" class="pr-4 edit-dials-ad">
          <mat-label>Grade Year</mat-label>
          <input matInput type="number" formControlName="grade_year" required>
          <mat-error>Grade Year is required!</mat-error>
        </mat-form-field> -->
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4 edit-dials-ad">
          <mat-label>Select Grade Years</mat-label>
          <mat-select formControlName="grade_year" required class="overflow">
            <mat-option [value]="year" *ngFor="let year of grade_years">{{year}}</mat-option>
          </mat-select>
          <mat-error>Grade Year is required!</mat-error>
        </mat-form-field>
      </div>

      <div [fxLayout]="direction" fxLayout.xs="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4 edit-dials-ad">
          <mat-label>Activities</mat-label>
          <input matInput formControlName="activities" required>
          <mat-error>Activities is required!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4 edit-dials-ad">
          <mat-label>Qoute</mat-label>
          <input matInput formControlName="qoute">
          <!-- <mat-error>Qoute is required!</mat-error> -->
        </mat-form-field>
      </div>

      <!-- <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4 edit-dials-ad">
          <mat-label>Image Url</mat-label>
          <textarea matInput formControlName="image_url"></textarea>
        </mat-form-field>
      </div> -->

      <div class="example-button-row" fxLayoutAlign="end">
        <button mat-raised-button color="accent" type="submit" class="mr-12 submit-button">Update</button>
        <a mat-raised-button color="accent" (click)="EditUnitPopupClose()">Cancel</a>
      </div>
    </form>
  </div>
</div>