<div id="unit-change" class="page-layout blank">
  <!-- HEADER -->
  <div class="header header-content-dashboard" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row">
    <!-- APP TITLE -->
    <div fxLayout="row">
      <div class="logo" fxLayout="row">
        <span class="logo-text header-tittle" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          PEOPLE
        </span>
      </div>
    </div>
  </div>
  <!-- HEADER -->
  <div class="content all-pages-content">
    <div class="left">
      <div class="main-widget main-widget-filter">
        <div class="widget-group p-0" fxLayout="row" [@animateStagger]="{value:'50'}">
          <fuse-widget class="widget p-0" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50" style="margin-left: 1pc;">
            <div fxLayout="column" fxLayoutAlign="start">
              <div fxFlex="50" fxLayout="row wrap" class="example-button-row search-filter-input">
                <!-- <div > -->
                <mat-form-field appearance="outline" class="pr-4 mat-form-height people-mat-label field" fxFlex="25"
                  style="margin-top: 15px;">
                  <mat-label>Select Grad Year</mat-label>
                  <mat-select class="people-select-height" (selectionChange)="gradeYearFilter($event.value)">
                    <mat-option value="">All</mat-option>
                    <mat-option [value]="year" *ngFor="let year of grade_years">{{year}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- </div> -->
                <!-- <div fxFlex="25" style="margin-top: 15px;"> -->
                <mat-form-field appearance="outline" class="mat-form-height field" fxFlex="25" style="margin-top: 15px;">
                  <mat-label>Select Category</mat-label>
                  <mat-select (selectionChange)="categoryYearFilter($event.value)" class="people-select-height">
                    <mat-option [value]="cat" *ngFor="let cat of category">{{cat}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- </div> -->

                <div fxLayoutAlign="end" fxLayout="row wrap">
                  <div class="form-group fileUpload pl-4">
                    <button mat-stroked-button class="form-control upload-button">
                      <label class="cursor_pointer">
                        <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls" />
                        Upload Record
                      </label>
                    </button>
                  </div>
                </div>

                <div class="pl-4" fxLayoutAlign="end" fxLayout="row wrap">
                  <mat-icon (click)="AddPeople()" class="add_icon cursor_pointer">add_circle
                  </mat-icon>
                </div>
                
              </div>
            </div>
          </fuse-widget>
        </div>
        <div class="widget-group p-0" fxLayout="row" [@animateStagger]="{value:'50'}">
          <fuse-widget class="widget p-0" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100">
            <div fxLayout="column" fxLayoutAlign="start">
              <div class="example-container mat-elevation-z8" id="content" #content #TABLE>
                <table mat-table [dataSource]="dataSource" id="contentToConvert">
                  <ng-container matColumnDef="profile">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-name">PROFILE</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell-name">
                      <!-- <img alt="profile_pic" [src]="element.profile" class="hy-profile-image"> -->
                      <img alt="profile_pic" src="assets/images/avatars/profile.jpg" class="hy-profile-image">

                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-name">NAME</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell-name">{{element.name}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="grade_year">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-name">GRAD YEAR</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell-name">
                      {{element.grade_year}}</td>
                  </ng-container>
                  <ng-container matColumnDef="activities">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-name">ACTIVITIES</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell-name">
                      <span *ngFor="let activity of element.activities">{{activity}}, </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="qoute">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-name">QOUTE</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell-name">{{element.qoute}}
                    </td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="image_url">
                      <th mat-header-cell *matHeaderCellDef class="mat-header-name">IMAGE URL</th>
                      <td mat-cell *matCellDef="let element" class="mat-cell-name">
                        {{element.image_url}}
                      </td>
                    </ng-container> -->
                  <ng-container matColumnDef="action" sticky>
                    <th mat-header-cell *matHeaderCellDef class="mat-header-action">Action</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell-action">
                      <button class="btn__review startegic-dots more-action" [matMenuTriggerFor]="unit">
                        <img class="more-horiz-icon" src="assets/icons/more_horiz-24px.svg"
                          style="transform: rotate(90deg);">
                      </button>
                      <mat-menu #unit="matMenu" xPosition="before">
                        <button mat-menu-item style="line-height: 21px;height: 25px;">
                          <a href="javascript:void(0)" (click)="EditPeople(element)">
                            <mat-icon class="mat-icon-edit" style="height: 25px; width: 15px;font-size: 19px;
                                margin-right: 12px;margin-top: 4px;">edit
                            </mat-icon>
                            <span style="color: darkslategray;">Edit</span>
                          </a>
                        </button>
                        <button mat-menu-item style="line-height: 21px;height: 25px;">
                          <a href="javascript:void(0)" (click)="deletePeople(element)">
                            <mat-icon class="mat-icon-clear" style="height: 25px; width: 15px;font-size: 19px;
                                margin-right: 12px;margin-top  : 4px;">clear
                            </mat-icon>
                            <span style="color: darkslategray;">Clear</span>
                          </a>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator> -->
              </div>
            </div>
          </fuse-widget>
        </div>
      </div>
    </div>
  </div>
</div>