@import "src/@fuse/scss/fuse";

@media only screen and (min-width: 1200px) {
    .mat-dialog-container {
        min-width: 449px !important;
    }
}

#unit-change {
    .mat-header-name {
        text-align  : left;
        padding-left: 3px;
    }

    .mat-cell-name {
        text-align  : left;
        padding-left: 3px;
    }

    .mat-header-action {
        padding-right: 0px;
        width        : 70px;
    }

    .mat-cell-action {
        padding-right: 2px;
    }

    .mat-icon-edit {
        font-size       : 18px;
        min-height      : 25px;
        height          : 25px;
        border-radius   : 4px;
        background-color: #3972b9e8;
        color           : white;
        margin-left     : 4px;
    }

    .mat-icon-clear {
        font-size       : 18px;
        min-height      : 25px;
        height          : 25px;
        border-radius   : 4px;
        background-color: #f44336;
        color           : white;
        margin-left     : 4px;
    }

    
}


// responsive start
@media (min-width: 601px) and (max-width: 767px) {
    .addunit-dial {
        .mat-dialog-container {
            min-width: 309px !important;
        }
    }
}

@media (min-width: 1101px) and (max-width: 1199px) {
    .addunit-dial {
        .mat-dialog-container {
            min-width: 449px !important;
        }
    }
}

.mat-select-trigger {
    height     : 50px;
    padding-top: 10px;
}

.test {
    width: unset;
}

// responsive end
// .filter {
//     margin-top: 10px;
//     height: 3.125em;
// }
.add_icon {
    float       : right;
    margin-right: 220px;
    margin-top  : 35px;
    font-size   : 39px;
}

// .mat-form-field {
//     margin: 40px 0;
//     width: 500px !important;
// }
.mat-toolbar-single-row {
    height    : auto !important;
    background: transparent;
}

.mat-toolbar-single-row button {
    width: 200px;
}

// .mat-form-field {
//     width: 100%;
// }
#uploadFile {
    top     : 0px;
    left    : 0px;
    width   : 100%;
    z-index : 9;
    opacity : 0;
    height  : 100%;
    cursor  : pointer;
    position: absolute;
}


.fileUpload input.upload {
    display: inline-block;
    cursor : pointer;
}

button.form-control.upload-button.mat-stroked-button {
    background-color: #2372bb;
    color           : #ffff;
    margin-top      : 35px;
    height          : 42px;
    margin-right: 40px;
}

input[type="file"] {
    display: none;
}

.cursor_pointer {
    cursor: pointer;
}

.hy-profile-image {
    border-radius: 50%;
    width        : 60px;
    height       : 60px;
    padding      : 4px;
}

// .upload-record {
//     margin-top      : 15px;
//     background-color: #2372bb;
//     color           : #ffff;
//     height          : 42px;
// }

.overflow.mat-select {
    overflow: auto;
    max-width: 300px;
    
    .mat-select-trigger {
        height: 30px;
        padding-top: 10px;
    }
}

