<div id="unit-change" class="page-layout blank">
    <!-- HEADER -->
    <div class="header header-content-dashboard" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row">
        <!-- APP TITLE -->
        <div fxLayout="row" style="margin-right: 6pc;">
            <div class="logo" fxLayout="row">
                <span class="logo-text header-tittle" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    BRANDING
                </span>
            </div>
        </div>
    </div>
    <!-- HEADER -->
    <div class="content all-pages-content">
        <div class="left">
            <div class="main-widget main-widget-filter">
                <div class="widget-group p-0" fxLayout="row" [@animateStagger]="{value:'50'}">
                    <fuse-widget class="widget p-0" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50" style="margin-left: 3pc;
                ">

                        <div class="content" fxLayout="row wrap">
                            <div class="friend" fxFlex="50">
                                <!-- <ng-container *ngIf="url;  then iAmDone; else iAmNotDone">
                                </ng-container> -->

                                <!-- <ng-template #iAmDone>
                                    <div><img class="upload_branding_img" [src]="url" *ngIf="url"></div>
                                </ng-template> -->

                                <div *ngIf="!url">
                                    <img class="upload_branding_img" src="/assets/images/logos/defaul_logo.png">
                                </div>
                                <div *ngIf="url">
                                    <img class="upload_branding_img" [src]="url">
                                </div>
                                <br>
                                <button mat-stroked-button class="form-control1 upload-button1 fileUpload1">
                                    <label class="upload1">
                                        <input type="file" (change)="selectFile($event)" />
                                        Upload Logo
                                    </label>
                                </button>

                                <div style="margin-top: 40px;">
                                    <div class="row" style="height: 320px;padding-left: 9px;" fxFlex="100">
                                        <div fxFlex="50" style="margin-right: 76px;">
                                            <mat-label>Pick a Color</mat-label>
                                            <div [style.background]="selectedColor" [cpToggle]="true"
                                                [cpDialogDisplay]="'inline'" [cpCancelButton]="false"
                                                [cpCancelButtonClass]="'btn btn-primary btn-xs'"
                                                [(colorPicker)]="selectedColor" #colorcode value="selectedColor"></div>
                                        </div>
                                        <div fxFlex="50"  *ngIf="!colorData">
                                            <mat-label>Default Color</mat-label>
                                            <div style="width: 230px; height: 280px; display: flex; justify-content: center"
                                                [ngStyle]="{ 'background-color': selectedColor }">
                                            </div>
                                        </div>
                                        <div fxFlex="50"  *ngIf="colorData">
                                            <mat-label>Saved Color</mat-label>
                                            <div style="width: 230px; height: 280px; display: flex; justify-content: center"
                                                [ngStyle]="{ 'background-color': colorData.code }">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" mat-stroked-button
                                        class="form-control1 upload-button1 fileUpload1"
                                        (click)="addColor(selectedColor)">
                                        Save Color Code
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fuse-widget>
                </div>

            </div>
        </div>
    </div>
</div>