@import "src/@fuse/scss/fuse";
@media only screen and (min-width: 1200px) {
    .mat-dialog-container {
        min-width: 449px!important;
    }
}

#unit-change {
    .mat-header-name {
        text-align: left;
        padding-left: 7px;
    }
    .mat-cell-name {
        text-align: left;
        padding-left: 7px;
    }
    .mat-header-action {
        padding-right: 0px;
        width: 70px;
    }
    .mat-cell-action {
        padding-right: 2px;
    }
    .mat-icon-edit {
        font-size: 18px;
        min-height: 25px;
        height: 25px;
        border-radius: 4px;
        background-color: #3972b9e8;
        color: white;
        margin-left: 4px;
    }
    .mat-icon-clear {
        font-size: 18px;
        min-height: 25px;
        height: 25px;
        border-radius: 4px;
        background-color: #f44336;
        color: white;
        margin-left: 4px;
    }
}

// responsive start
@media (min-width: 601px) and (max-width: 767px) {
    .addunit-dial {
        .mat-dialog-container {
            min-width: 309px !important;
        }
    }
}

@media (min-width: 1101px) and (max-width: 1199px) {
    .addunit-dial {
        .mat-dialog-container {
            min-width: 449px !important;
        }
    }
}

// .mat-select-trigger {
//     height: 50px;
//     padding-top: 10px;
// }

// responsive end
// .filter {
//     margin-top: 10px;
//     height: 3.125em;
// }
.add_icon {
    float: right;
    margin-right: -90px;
    margin-top: 35px;
    font-size: 39px;
}

.form-control {
    width: 150px;
    height: 25px;
    margin-left: 10px;
}

.header-field-activate {
    // width: 539px;
    width: 45%;
    height: 74px;
    border: 1px solid #e7e4e4;
    border-radius: 5px;
    padding: 14px;
    margin-top: 20px;
}

.code-activate {
    // width: 539px;
    // height: 74px;
    border: 1px solid #e7e4e4;
    border-radius: 5px;
    padding: 10px;
    margin-left: 6%;
    width: 45%;
    // margin-top: 20px;
}
.player-setup-heading{
    text-align: left;
    margin-top: 8px;
}

.btn-light {
    width: 200px;
    // width: 55%;
    background-color: #1c5e97;
}

.input-width {
    width: 250px;
}
.minute-valid{
    margin-left: 22%;
    color: red;
}
.mat-cell-name.mat-cell.cdk-column-main_content.mat-column-main_content.ng-tns-c34-4.ng-star-inserted {
    width: 32% !important;
}

@media (min-width:1280px) and (max-width: 1700px) {
    .header-field-activate{
        width: 70%;
    }
}

@media (min-width:960px) and (max-width: 1279px) {
    .header-field-activate{
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 959px) {
    .header-field-activate{
        width: 100%;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .header-field-activate{
    width: 375px;
    }
}
